/public/
/resources/_gen/
/assets/jsconfig.json
/hugo_stats.json
hugo_stats.json
.hugo_build.lock

.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100/
.Trashes/
.DocumentRevisions-V100/
.fseventsd/
.icon
*.swp
*~
Icon?

.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache
.trash/

.idea/
.vscode/
*.iml
